*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
}

.main-container{
    height: 1000px;
    width: 1000px;

    display: flex;
    flex-wrap: wrap;
}

.card{
    
    border: 1px solid red;
}

.black{
    background-color: black;
}

.white{
    background-color: white;
}

.red{
    background-color: red;
}
